$main-color1: #262C27;
$main-color2: #fff;
$main-color3: #0093A1;
$main-color4: #B9C400;

*,
*::after,
*::before {
    box-sizing: border-box;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

a{
    text-decoration: none;
}



.line {
    margin: 30px 0;
    border: 1px solid $main-color2;
}


.play-btn {
    display: block;
    float: right;
    margin-top: 90px;
    

    .play {
        display: block;
        @extend %font-inter400;
        color: white;
        font-size: 18px;
        line-height: 22px;       
        text-align: center; 
        padding: 5px 0 0 0;
        margin-left: -5px;
    }




}

.play-btn:hover path {
    fill: $main-color4;
}

.play-btn:hover circle {
    stroke: $main-color4;
}
.play__btn:hover {
    color:$main-color4;
}
