@include desktop{

    .header {
        .header__decor-1 {
            display: none;
        }  .header__decor-2 {
            display: none;
        }  .header__decor-3 {
            display: none;
        }
    }

}
