@include desktop {
    .main{
        .main-pocket__heading {
            text-align: center;
        }
        .gallery-min {
            padding-top:400px;
            .gallery__min-box{
                display: flex;
                justify-content: center;
                .gallery__min-items {
                    display: none;
                }
                .gallery__min-text {
                    width: 500px;
                    text-align: center;
                    font-size: 18px;
                    z-index: 1;
                }
            }
        }
        
        .gallery-big {
            .gallery__big-box{
                padding: 0 0 150px 0;
                .gallery__big-items {
                    display: grid;
                    grid-gap: 5px;
                    grid-template-columns: repeat(auto-fit, minmax(89px, 1fr));
                    grid-template-rows: repeat(3, 200px);
                    grid-template-areas:
                    'a a b b'
                    'c c d d'
                    'e e f f';
                    .gallery__big-item {
                        border-radius: 10px;
                    }
                    .gallery__big-item-1{
                        grid-area: a;
                    }
                    .gallery__big-item-2{
                        grid-area: b;
                    }
                    .gallery__big-item-3{
                        grid-area: c;
                    }
                    .gallery__big-item-4{
                        grid-area: d;
                    }
                    .gallery__big-item-5{
                        grid-area: e;
                    }
                    .gallery__big-item-6{
                        display: none;

                    }
                    .gallery__big-item-7{
                        grid-area: f;
                    }
                }
            }
        }

        .main-info {
            .specs:before {
                top:0;
                left: 30px;
            }
        }
    }
}


@include tablet {
    main {

        .line {
            display: none;
        }
    

    
        .main-info {
            .main__block-content {
                .main__info-block  {
                    padding-top: 100px;
                }
               }
                
                .main-pocket__heading {
                    text-align: center;
                }
            .specs{
                display: block;
                margin: 0 auto;
                padding: 550px 0 0 0;
                width: 100%;
                .specs-column {
                    display: flex;
                    justify-content: flex-start;
                    padding: 10px;
                    .specs__text {
                        margin: 20px;
                        font-size: 13px;
                    }
                }
            }
        }
        
        .main-pocket {
            .main-pocket__heading {
                text-align: center;
            }
            .pocket__column {
                display: inline;
                .pocket__column-1{
    
                    .pocket__group {
                        display: block;
                        .pocket__group-2 {
                            .pocket__svg {
                                width: 130px;
                                height: 130px;
                            }
    
                        }
        
                    }
                .pocket__btn {
                    display: block;
                    text-align: center;
                    padding-left: 110px;
                    width: 25%;
                    margin: 40 auto;
                } 
                }
                .pocket__column-2 {
                    display: flex;
                    justify-content: flex-start;
                    .poceket__column-img {
                        width:100%
                    }
                }
            }     
        }
        
            .technology-block .technology__block-main .micro-technology .technology__heading {
                font-size:40px;
                width: 30%;
            }
        }
    }

@include mobile {
    .main {
        .gallery-big {
            .gallery__big-box{
                padding: 0 0 150px 0;
                .gallery__big-items {
                    display: grid;
                    grid-gap: 5px;
                    grid-template-columns: repeat(auto-fit, minmax(89px, 1fr));
                    grid-template-rows: repeat(3, 200px);
                    grid-template-areas:
                    'a b'
                    'c d'
                    'e f';
                    .gallery__big-item {
                        border-radius: 10px;
                    }
                    .gallery__big-item-1{
                        grid-area: a;
                    }
                    .gallery__big-item-2{
                        grid-area: b;
                    }
                    .gallery__big-item-3{
                        grid-area: c;
                    }
                    .gallery__big-item-4{
                        grid-area: d;
                    }
                    .gallery__big-item-5{
                        grid-area: e;
                    }
                    .gallery__big-item-6{
                        display: none;

                    }
                    .gallery__big-item-7{
                        grid-area: f;
                    }
                }
            }
        }
        .play-btn {
            display: none;
        }
    }
}