.black-line {
    background-color: $main-color1;
    width: 100%;
    height: 180px;
}
main {


    .main-info {
        background-image: url(../images/main-sea.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        
        
        .main__block-content {
        
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 80px;
        
            .main__info-text {
                @extend %font-inter400;
                color: $main-color2;
                font-size: 18px;
                line-height: 21.78px;
            }
            
            .main__info-block{
                padding-top: 335px;
                width:290px;
            
            }
        
            .main__block-longboard {
                align-self: flex-end;
                z-index: 10;
            }

        }
    
        .specs{
            display: block;
            margin: 0 auto;
            width: 675px;
            padding: 550px 0 20px 0;

    
            .specs-column {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;
                gap: 30px;
                color: $main-color2;
                @extend %font-inter700;
                font-size: 18px;
                line-height: 21.78px;
        
                .specs__text {
                    margin: 12.5px 0;
                }
            }
        
        }
        
    }

    .main-pocket {
        padding: 150px 0;
        position:relative;
        .main-pocket__heading {
            @extend %font-comfortaa400;
            color: $main-color3;
            font-size: 60px;
            line-height: 67px;

        }
        .pocket__column {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 40px;

            .pocket__column-1{
                padding-top: 70px;
                
                .pocket__group {
                display: flex;
                align-items: flex-end;

                    .pocket__group-1{

                        .pocket__block{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            width: 292px;
                            padding-bottom: 25px;

                            .pocket__column-heading {
                                @extend %font-inter700;
                                font-size: 18px;
                                color: $main-color1;
                                padding-bottom: 5px;
                                cursor: pointer;

                                &:hover {
                                    color: $main-color3;
                                }
                            }
            
                            .pocket__text {
                                @extend %font-inter400;
                                font-size: 18px;
                                color: $main-color1;
                            }
                        }
                    }
                    .pocket__group-2 {
                        transition: 0.3s ease-in-out;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
    
                }

            }
            .pocket__btn {
                display: flex;
                background: none;
                color: $main-color3;
                border: 3px solid $main-color3;
                padding: 20px 200px;
                margin-top: 50px;
                @extend %font-comfortaa700;
                font-size: 40px;
                transition: 0.3s ease-in-out;
                &:hover{
                    background-color: $main-color4;
                    color: $main-color1;
                    border-color: $main-color4;
                }
            }
        }
    }

    .technology-block {
        background-image: url(../images/Group-20.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 1200px;
        position:relative;
        
        .technology-btn {
            position:relative;
            right: 300px;
            top: 400px;
        }

        .technology__block-main {

            .micro-technology{
                position: absolute;
                bottom: 85px;

                            
                .technology__heading {
                @extend %font-comfortaa400;
                font-size: 60px;
                line-height: 67px;
                color: $main-color1;
                width: 460px;
                }
                .technology__text {
                    @extend %font-inter700;
                    font-size: 20px;
                    line-height: 24.2px;
                    color: $main-color1;
                    padding-bottom: 15px;
                }
            }
        }
    }

    .gallery-min {
            
        .gallery__min-box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap:68px;
            margin-top: -270px;

            .gallery__min-items {
                display: grid;
                position: relative;
                grid-template-columns: repeat(4, minmax(175px, 100px));
                grid-template-rows: repeat(5, 150px);
                padding: 40px 20px;
                gap: 25px;
                border: 3px solid $main-color1;
                border-radius: 200px 0px 300px;
                grid-template-areas: 
                'a a a a'
                'a a a a'
                'a a a a'
                'b b b c'
                'b b b c';
                z-index: index 99;

                .gallery__item {
                    display: block;
                    width: 100%;
                    height: 100%;                    
                }
                .gallery__item-1 {
                    grid-area: a;
                    border-radius: 400px 0px 0px 0px;

                }

                .gallery__item-2 {
                    grid-area: b;
                    border-radius: 0px 0px 0px 300px;
                }

                .gallery__item-3 {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    grid-area: c;
                    z-index: -1;
                }
            }

        }
    }

    .gallery-big {
        .gallery__big-box{
            padding: 150px 0;
            .gallery__big-items {
                display: grid;
                grid-template-columns: repeat(12, 89px);
                grid-template-rows: 340px 270px 270px;
                justify-content: center;
                gap: 20px;
                width: 100%;height:100%;object-fit: cover;
                .gallery__big-item {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .gallery__big-item-1{
                    grid-area: 1 / 1 / 1 / 6;
                }
                .gallery__big-item-2{
                    grid-area: 1 / 6 / 2 / 13;
                    border-radius: 0px 500px 0px 0px;
                }
                .gallery__big-item-3{
                    grid-area: 2 / 1 / 2 / 4;
                    border-radius: 0px 0px 150px 0px;
                }
                .gallery__big-item-4{
                    grid-area: 2 / 4 / 2 / 9;
                    border-radius: 0px 200px 0px 0px;
                }
                .gallery__big-item-5{
                    grid-area: 2 / 9 / 2 / 13;
                    border-radius: 200px 0px 0px 0px;
                }
                .gallery__big-item-6{
                    width: 300px;
                    height: 270px;
                    background-color: $main-color3;
                    border: 1px solid $main-color3;
                    border-radius: 0px 0px 0px 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    grid-area: 3 / 1 / 3 / 4;

                    p{
                        width: 165px;                  
                        @extend %font-inter800;
                        font-style: italic;
                        font-size: 32px;
                        line-height:39px;
                        text-align: center;
                        color: $main-color2
                    }
                }
                .gallery__big-item-7{
                    grid-area: 3 / 4 / 3 / 13;
                    border-radius: 0px 0px 0px 400px;
                }
            }
        }
    }
 
}

